@font-face {
    font-family: "Monocraft";
    src: url("/static/fonts/Monocraft.otf") format("opentype");
}

#popup {
    display: none;
}

.inpt {
    width: 15vw;
    height: 1vw;
    box-shadow: 0.27em 0.27em 0em 0px rgba(186, 65, 166, 0.6);
    border: none;
    transition: 0.3s;
    margin: 0.5rem;
    background-color: rgba(225, 225, 225, 0.99);
    border-radius: 3px;
}
.inpt:hover {
    box-shadow: 0.5em 0.5em 0em 0px rgba(186, 65, 166, 0.6);
}

.inpt:focus-visible {
    outline: none;
    box-shadow: 0.5em 0.5em 0em 0px rgba(186, 65, 166, 1);
}

.small-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.simpletext {
    font-family: Monocraft;
    color: white;
    text-align: center;
    line-height: 2;
    font-size: 1.1rem;
}

.header {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: Monocraft;
    color: white;
    text-align: center;
}

.context {
     font-family: Monocraft;
     text-align: center;
     color: rgba(225, 225, 225, 0.6);
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.divv {
    background-color: rgb(0 0 0 / 85%);
    border: dashed rgba(225, 225, 225, 0.75);
    border-width: 2px 3px;
    border-radius: 2rem/2rem;
    box-sizing: border-box;
    margin-left: 2rem;
    margin-top: 2rem;
}

#sqlInpt {
    position: relative;
    margin: 3.5rem;
    background-color: rgb(0 0 0 / 85%);
    padding: 0.5rem 1.5rem;
    text-align: left;
    width: 20%;
    height: 27%;
    transition: 1s;
}
.slideinInpt {
    transition: 1s;
    transform: translateX(345%);

}

.slideoutInpt {
    transition: 1s;
    transform: translateX(0%);
}



.sql-guide {
    width: 65%;
    height: auto;
    background-color: rgb(0 0 0/ 90%);
    padding: 1rem;
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    box-shadow: 1em 1em 0em 0px rgba(186, 65, 166, 0.7);
    transform: translateX(-165%);
    transition: 1s;
    position: absolute;
}

.slideinHelp {
    transition: 1s;
    transform: translateX(0%);

}

.slideoutHelp {
    transition: 1;
    transform: translateX(-165%);

}

.headerblock {
    width: 65%;
    height: 20%;
    padding: 1rem;
    margin-left: 0rem;
    border-color: #000000;
    border-radius: 0;
    border: none;
    box-shadow: 1em 1em 0em 0px rgba(186, 65, 166, 0.7);
    transition: 0.5s;
}

.headerblock:hover {
    box-shadow: 1.5em 1.5em 0em 0px rgba(186, 65, 166, 0.7);
    padding: 1.5rem;
}

.info1 {
    width: 45%;
    height: 50%;
    padding: 0.85rem;
    margin-top: 3.5rem;
    transition: 1s;
}

.info1:hover {
     background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(186, 65, 166, 0.3));
}

.navigation{
    width: 18%;
    height: 65%;
    padding: 0;
    top: 17.5%;
    border-color: #000000;
    border-width: 0.4rem;
    border-radius: 0.7rem;
    margin-right: 0rem;
    left: calc(100% - 5rem);
    position: absolute;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation:hover {
    left: 85%;

}

.decore1 {
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.6));
    width: 4.5%;
    height: 85%;
    margin: 0;
    border-radius: 1rem;
}

.btn1 {
  box-shadow: 0 5px 15px 0 #BA41A6;
  transition: 0.5s;
  background-color: #BA41A6;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-family: Monocraft;
  border-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.1rem;
}
.btn1 + .btn1 {
    margin-left: 1rem;
}

.btn1:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 #BA41A6;
}

.btn2 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    margin-top: 1rem;
    transition: 0.1s;
    border-radius: 0.5rem;
    margin: 0.5rem;

}

.btn2:hover {
    background-color: rgba(186, 65, 166, 0.5);
    padding: 0.5rem;
    margin: 0;
}

.link {
  box-shadow: 0 5px 15px 0 #BA41A6;
  transition: 0.5s;
  background-color: #BA41A6;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0;

}
.link:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 #BA41A6;
}

.navlink {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 1.5rem 0;
    width: 100%;
}

.navbtn {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#help {
    max-width: 100%;
    width: 3vw;
    height: auto;
    margin: 2rem;
    bottom: 1.5%;
    left: 1.2%;
    position: absolute;
    box-shadow: 0.4em 0.4em 0em 0px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0);

}

#help:hover {
    box-shadow: 0.7em 0.7em 0em 0px rgba(0, 0, 0, 0.8);
    transform: translate(0, 0.2em);
}

#error {
    bottom: 7%;
    right: 11%;
    position: absolute;
    background-color: rgba(220, 20, 60, 0.5);
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    font-family: Monocraft;
    color: white;
    font-size: 1.2rem;
    text-shadow: black 2px 2px;
    border: dashed rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    box-shadow: 0.5em 0.5em 0em 0px rgba(0, 0, 0, 0.5);
    animation: fadeinout 3s cubic-bezier(1, 0.05, 0.5, 1) forwards;
    opacity: 0;
}
#error:hover {
    background-color: rgba(220, 20, 60, 0.65);
    transform: translate(0, -0.2em);
    box-shadow: 0.7em 0.7em 0em 0px rgba(0, 0, 0, 0.65);
}


.hidden {
    color: rgba(0,0,0,0);
}


#success {
    bottom: 7%;
    right: 11%;
    position: absolute;
    background-color: rgba(0, 255, 127, 0.5);
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    font-family: Monocraft;
    color: white;
    font-size: 1.2rem;
    text-shadow: black 2px 2px;
    border: dashed rgba(225, 225, 225, 1);
    transition: 0.5s;
    box-shadow: 0.5em 0.5em 0em 0px rgba(0, 0, 0, 0.5);
    animation: fadeinout 3.5s cubic-bezier(1, 0.05, 0.5, 1) forwards;
    opacity: 0;
}
#success:hover {
    background-color: rgba(0, 255, 127, 0.65);
    transform: translate(0, -0.2em);
    box-shadow: 0.7em 0.7em 0em 0px rgba(0, 0, 0, 0.65);
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.hidden {
    color: rgba(0,0,0,0);
}


body {
    background-image: url(/static/imgs/bg.gif);
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-size: cover;
}

a {
    text-decoration: none;
    font-family: Monocraft;
    color: white;
}

