@font-face {
    font-family: "Monocraft";
    src: url("/static/fonts/Monocraft.otf") format("opentype");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/static/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}




#popup {
    display: none;
    overflow-y: auto;
}

.task-done {
    position: absolute;
    position-area: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.90);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.done {
    position-area: center;
    width: 10%;
    height: auto;
    image-rendering: pixelated;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.capsule-window {
    background-color: rgb(0 0 0 / 85%);
    border: dashed rgba(225, 225, 225, 0.75);
    border-width: 2px 3px;
    border-radius: 2rem/2rem;
    box-sizing: border-box;
    margin-left: 2rem;
    margin-top: 2rem;
}

.profile {
    width: fit-content;
    height: fit-content;
    max-width: 40rem;
    margin: 3.5rem 0rem;
    padding: 0.7rem 2rem;
    background-color: rgba(0,0,0, 0.85);
    text-align: left;
}

.flag-input {
    width: 20rem;
    max-width: 40rem;
    height: fit-content;
    padding: 0.7rem 2rem;
    padding-bottom: 1rem;
    margin: 3.5rem 2rem ;
    background-color: rgba(0,0,0, 0.85);
    text-align: left;
    border: dashed 0.13rem rgba(225,225,225,0.8);
    border-radius: 2%;
}


.close-btn {
    display: block;
    position: sticky;
    bottom: 20px;
    right: 20px;
    width: max-content;
    backdrop-filter: blur(10px);
    margin-left: auto !important;
    padding: .5rem;
    border-radius: 4px;
}

.inpt {
    width: 60%;
    height: 1.2rem;
    box-shadow: 0.27em 0.27em 0em 0px rgba(186, 65, 166, 0.6);
    border: none;
    transition: 0.3s;
    margin: 0.5rem;
    background-color: rgba(225, 225, 225, 0.99);
    border-radius: 3px;
    font-family: Monocraft;
}
.inpt:hover {
    box-shadow: 0.5em 0.5em 0em 0px rgba(186, 65, 166, 0.6);
}

.inpt:focus-visible {
    outline: none;
    box-shadow: 0.5em 0.5em 0em 0px rgba(186, 65, 166, 1);
}

.small-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.simpletext {
    font-family: Monocraft;
    color: white;
    text-align: center;
    line-height: 1.7;
    font-size: 1.1rem;
    padding: 0.2rem;
}

.header {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-family: Monocraft;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.context {
     font-family: Monocraft;
     text-align: center;
     color: rgba(225, 225, 225, 0.6);
}

.usable-context {
     font-family: Monocraft;
     text-align: center;
     color: rgba(225, 225, 225, 0.6);
     cursor: pointer;
     transition: 0.3s;
}

.usable-context:hover {
    text-decoration: underline;
}

.translate-header {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.translate-header:hover {
    transform: translateY(6%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    min-width: 40rem;
    justify-content: center;
    align-content: flex-start;
}

.navgoodlinks {
    display:flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
}

.navgoodlinks > p + p {
    margin: 0;
    text-align: left;
}

.navbtn + .navgoodlinks {
    padding-top: 2rem;
}

.sqlInpt {
    margin: 3.5rem;
    background-color: rgb(0 0 0 / 85%);
    padding: 0.1rem 1.5rem;
    text-align: left;
    height: 22rem;
    transition: 1s;
    display: flex;
}

.meme {
    width: 50rem;
    height: auto;
    max-height: 3rem;
    background-color: rgb(0 0 0/ 90%);
    padding: 0.4rem 1rem;
    margin-left: 6.5rem;
    margin-top: 3.5rem;
    box-shadow: 0.4em 0.4em 0em 0px rgba(186, 65, 166, 0.6);
    transform: translateX(-165%);
    transition: 0.5s;
    display: block;
    position: sticky;
    bottom: 20px;
    right: 20px;
    border-radius: 0.5rem;
}

.meme:hover {
    box-shadow: 0.8em 0.8em 0em 0px rgba(186, 65, 166, 0.9);
}

.slideinInpt {
    transition: 1s;
    transform: translateX(calc(65vw + .8em + 3.5rem));
}

.slideoutInpt {
    transition: 1s;
    transform: translateX(0%);
}


.sql-guide {
    width: 65%;
    height: auto;
    max-height: 37rem;
    background-color: rgb(0 0 0/ 90%);
    padding: 0.4rem 1rem;
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    box-shadow: 0.8em 0.8em 0em 0px rgba(186, 65, 166, 0.6);
    transform: translateX(-165%);
    transition: 0.5s;
    position: absolute;

}

/*.scroll {

    max-height: 34rem;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: green;
    scrollbar-gutter: stable both-edges;

}
*/
.sql-guide:hover {
    box-shadow: 1.2em 1.2em 0em 0px rgba(186, 65, 166, 0.9);
}

.slideinHelp {
    transition: 1s;
    transform: translateX(0%);

}

.slideoutHelp {
    transition: 1;
    transform: translateX(-165%);

}

.mono {
 font-family: JetBrainsMono;
 color: rgba(225, 225, 225, 0.9);
 background-color: rgb(35, 33, 54);
 padding: 0.3rem;
 border-radius: 0.2rem;
 font-size: 0.9rem;
}

.codefont {
    border-radius: 0.6rem;
    font-family: JetBrainsMono;
    font-size: 0.85rem;
}

.hltext {
    color: rgb(252 204 255);
    transition: 0.5s;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.hltext:hover {
    background-color: rgba(186, 65, 166, 0.5);
    transform: translateX(1rem);
}

.headerblock {
    width: clamp(60rem, 65% , 140rem);
    height: 10rem;
    padding: 1rem;
    margin-left: 0;
    border-color: black;
    border-radius: 0;
    border: none;
    box-shadow: 1em 1em 0em 0px rgba(186, 65, 166, 0.7);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0 0 0 / 85%);
    box-sizing: border-box;
}

.headerblock:hover {
    box-shadow: 1.5em 1.5em 0em 0px rgba(186, 65, 166, 0.7);

}

.info1 {
    width: clamp(40rem, 45%, 60rem);
    height: clamp(30rem, 50%, 30rem);
    padding: 0.85rem;
    margin-top: 3.5rem;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.small {
    width: clamp(40rem, 35%, 60rem);
    height: clamp(30rem, 20%, 60rem);
}

.navigation{
    width: 19.5rem;
    height: clamp(27rem, 65%, 39rem);
    padding: 0;
    top: 17.5%;
    border-color: #000000;
    border-width: 0.4rem;
    border-radius: 0.7rem;
    margin-right: 0rem;
    left: calc(100% - 5rem);
    position: absolute;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation:hover {
    left: 85%;

}

.decore1 {
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.8), rgba(225, 225, 225, 0.6));
    width: 0.7rem;
    height: 85%;
    margin: 0;
    border-radius: 1rem;
}

.btn1 {
  box-shadow: 0 5px 15px 0 #BA41A6;
  transition: 0.5s;
  background-color: #BA41A6;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-family: Monocraft;
  border-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}
.btn1 + .btn1 {
    margin-left: 1rem;
}

.btn1:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 #BA41A6;
}

.btn2 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    margin-top: 1rem;
    transition: 0.1s;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;

}

.btn2:hover {
    background-color: rgba(186, 65, 166, 0.5);
    padding: 0.5rem;
    margin: 0;
}

.link {
  box-shadow: 0 5px 15px 0 #BA41A6;
  transition: 0.5s;
  background-color: #BA41A6;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0;

}
.link:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 #BA41A6;
}

.navlink {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 1.5rem 0;
    width: 100%;
    cursor: pointer;
}

.navbtn {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

#help {
    max-width: 100%;
    width: 3rem;
    height: auto;
    margin: 2rem;
    display: block;
    position: sticky;
    bottom: 20px;
    right: 20px;
    box-shadow: 0.4em 0.4em 0em 0px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    image-rendering: pixelated;
}

#help:hover {
    box-shadow: 0.7em 0.7em 0em 0px rgba(0, 0, 0, 0.8);
    transform: translate(0, 0.2em);
}

#error {
    bottom: 7%;
    right: 11%;
    position: absolute;
    background-color: rgba(220, 20, 60, 0.5);
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    font-family: Monocraft;
    color: white;
    font-size: 1.2rem;
    text-shadow: black 2px 2px;
    border: dashed rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    box-shadow: 0.5em 0.5em 0em 0px rgba(0, 0, 0, 0.5);
    animation: fadeinout 3s cubic-bezier(1, 0.05, 0.5, 1) forwards;
    opacity: 0;
}
#error:hover {
    background-color: rgba(220, 20, 60, 0.65);
    transform: translate(0, -0.2em);
    box-shadow: 0.7em 0.7em 0em 0px rgba(0, 0, 0, 0.65);
}

#success {
    bottom: 7%;
    right: 11%;
    position: absolute;
    background-color: rgba(0, 255, 127, 0.5);
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    font-family: Monocraft;
    color: white;
    font-size: 1.2rem;
    text-shadow: black 2px 2px;
    border: dashed rgba(225, 225, 225, 1);
    transition: 0.5s;
    box-shadow: 0.5em 0.5em 0em 0px rgba(0, 0, 0, 0.5);
    animation: fadeinout 3.5s cubic-bezier(1, 0.05, 0.5, 1) forwards;
    opacity: 0;
}
#success:hover {
    background-color: rgba(0, 255, 127, 0.65);
    transform: translate(0, -0.2em);
    box-shadow: 0.7em 0.7em 0em 0px rgba(0, 0, 0, 0.65);
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.hidden {
    color: rgba(0,0,0,0);
}


body {
    background-image: url(/static/imgs/bg.gif);
    width: 100vw;
    height: calc(100dvh - 2rem);
    margin: 0;
    background-size: cover;
    padding-top: 2rem;
}

body > .container {
    height: calc(100% - 12rem);
}

a {
    text-decoration: none;
    font-family: Monocraft;
    color: white;
}

@media (max-width: 700px) {
    /* Стили для мобильных устройств */
    .container { align-items: center; }
  }

